
.googleSignInButton {
    -fx-graphic: url('/icons/google_signin_buttons/btn_google_signin_dark_normal_web.png');
    -fx-padding: 0;
    padding: 0;    
}

.cancelLoginButton {
    -fx-background-color:
        #000000,
        linear-gradient(#f9f9f9, #e9e9e9);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: #262626;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.cancelLoginButton:hover {
    -fx-background-color:
        #000000,
        linear-gradient(#e9e9e9, #f9f9f9);
}

.cancelLoginButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.serverStatus {
    -fx-graphic: url('/icons/status/problem.png');
    -fx-padding: 0;
    padding: 0;
}

.serverStatus:disabled {
    -fx-graphic: url('/icons/status/success.png');
    -fx-padding: 0;
    padding: 0;
}
