.root {
    scroll_pane_background_color: #1c1c1c;
    sidebar_color: #1c1c1c;
    border_pane_color: #252525;
    input_color: #252525;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button:hover, .button:default:hover, .toggle-button:hover {
    -fx-background-color: derive(accent_color, -20%);
}

.button:focused, .button:default:focused, .toggle-button:selected {
    -fx-background-color: derive(accent_color, -60%);
}

.toggle-button:selected:hover {
    -fx-background-color: derive(accent_color, -40%);
}


#labelToggle:selected  {
    -fx-text-fill: #111;
}

#tags {
    -fx-text-fill: #111;
}

 #x-button {
     -fx-background-color: transparent;
 }


/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/
.date-picker {
    date_picker_background_color: input_color;
    background_focused_color: input_color;
    graphic_focused_color: accent_color;
    graphic_disabled_color: accent_color;
    background_hover_color: date_picker_background_color;
    text_field_disabled_background_color: accent_color;

    day_cell_background_color: derive(accent_color, -60%);
    spinner_button_hover_color: derive(accent_color, -60%);

}

.date-picker-popup > * > .day-cell.selected:hover {
    -fx-background-color: derive(accent_color, -30%);
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Views                                                                       *
 *                                                                             *
 ******************************************************************************/
.list-view,
.table-view,
.tree-view,
.tree-table-view {
    cell_selected_color: derive(accent_color, -20%);

    cell_hover_color: derive(accent_color, -50%);
    cell_pressed_color: derive(accent_color, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Text Field                                                                  *
 *                                                                             *
 ******************************************************************************/
.text-input, .text-area {
  text_input_background_color: input_color;
  background_focused_color: input_color;
  background_hover_color: input_color;
  background_disabled_color: input_color;

  text_focused_color: white;
  text_disabled_color: white;
}

.hyperlink {
     -fx-text-fill: white;
}
