.root {
    scroll_pane_background_color: #343436;
    sidebar_color: #343436;
    border_pane_color: #f7f7f7;
    input_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button:hover, .button:default:hover, .toggle-button:hover {
    -fx-background-color: derive(accent_color, 50%);
}

.button:focused, .button:default:focused, .toggle-button:selected {
    -fx-background-color: white;
}

.toggle-button:selected:hover {
   -fx-background-color: derive(accent_color, -20%);
}

#labelToggle:selected  {
    -fx-text-fill: white;
}

 #x-button {
     -fx-background-color: transparent;
 }

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/
.date-picker {
    day_cell_background_color: derive(accent_color, 60%);
    spinner_button_hover_color: derive(accent_color, 60%);
}

.date-picker.combo-box-base {
    -fx-background-color: accent_color, date_picker_background_color;
}

.date-picker.combo-box-base:hover {
    -fx-background-color: accent_color, date_picker_background_color;
}

.date-picker-popup > * > .day-cell.selected:hover {
    -fx-background-color: derive(accent_color, 30%);
    -fx-text-fill: black;
}


/*******************************************************************************
 *                                                                             *
 * Views                                                                       *
 *                                                                             *
 ******************************************************************************/
.list-view,
.table-view,
.tree-view,
.tree-table-view {
    cell_selected_color: derive(accent_color, 20%);

    cell_hover_color: derive(accent_color, 70%);
    cell_pressed_color: derive(accent_color, 60%);
}

/*******************************************************************************
 *                                                                             *
 * Text Field                                                                  *
 *                                                                             *
 ******************************************************************************/

.text-area .content, .text-area:hover .content  {
    -fx-background-color: accent_color, text_input_background_color;
}

.hyperlink {
    -fx-text-fill: rgb(52, 52, 54);
}
